{% extends 'layouts/app.html' %}

{% block content %}
{% include 'dashboard/nav_bar.html' %}


<style>
    .table-danger {
        background-color: #f8d7da !important;
        color: #721c24;
    }

    .table-success {
        background-color: #d4edda !important;
        color: #155724;
    }
</style>
<div class="container" style="background-color: black; border-radius: 8px; text-align: center;
max-width: 70%; text-decoration-color: azure; color:rgb(185, 192, 195);   
width: 100%;">
    <h1>Welcome {{request.user.first_name}} !!</h1>
    <p>Here, you can track your financial transactions with ease. View a comprehensive list of your income and expense
        records, categorized by type, and gain insights into your spending patterns. Our intuitive pie chart
        visualization helps you understand where your money is going, breaking down your expenses by category. You can
        also add new transactions, categories, and subcategories to keep everything organized and up to date. Stay on
        top of your finances and make informed decisions to manage your budget more effectively!</p>

    <div style="align-items: left; text-align: left;">
        <form action="{% url 'add_transaction' %}" method="get">
            <button type="submit" class="btn btn-primary">Go to Add Transaction</button>
        </form>
        <br>
        <form action="{% url 'add_category_subcategory' %}" method="get">
            <button type="submit" class="btn btn-primary">Add Category</button>
        </form>
    </div>
    {% if my_transactions %}
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>Transaction Type</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Subcategory</th>
                <!-- <th>Description</th> -->
                <th>Action</th> <!-- Add a new column for the delete button -->
            </tr>
        </thead>
        <tbody>
            <!-- Loop through the transactions -->
            {% for transaction in my_transactions %}
            <tr
                class="{% if transaction.transaction_type == 'expense' %}table-danger{% else %}table-success{% endif %}">
                <td>{{ forloop.counter }}</td>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.transaction_type }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.category.name }}</td>
                <td>{{ transaction.subcategory.name }}</td>
                <!-- <td>{{ transaction.description }}</td> -->
                <td>
                    <!-- Form to delete the transaction -->
                    <form action="{% url 'delete_transaction' transaction.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No transactions found.</p>
    {% endif %}

    <br><br>

    <h2>Expenses by Category</h2>
    <!-- Display the pie chart -->
    <img src="data:image/png;base64,{{ pie_chart }}" alt="Expenses by Category Pie Chart">

</div>



{% endblock %}